/*
Steven Derrig 
slight modifications to the css stlye for the booking page
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');
/*
changes the reservation title to be more clear
*/
.resTitle{
color: white;
font-size: 200%;
margin: 25px;
font-family: 'Roboto', sans-serif;
}

/*
changes the font to be more clearer for the input fields
*/
.inputTitles{
  margin: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}