 :root
 {
    --tyrian-purple: #6a0136ff;
    --penn-red: #ba2441ff;
    --baby-powder: #f5eac2ff; 
    --nice-grey: #797d76ff;
    --midnight: #25383bff;
 }
 
 .bg-primary 
{
    background-color: var(--tyrian-purple) !important;
}

.bg-secondary
{
    background-color: var(--midnight) !important;
}

.bg-tertiary
{
    background-color: var(--baby-powder) !important;
}

.bg-accent
{
    background-color: var(--nice-grey)!important;
}

.btn-primary 
{
    background-color: var(--tyrian-purple) !important;
}

.btn-secondary
{
    background-color: var(--penn-red) !important;
}

.btn-tertiary
{
    background-color: var(--baby-powder) !important;
}

.btn-accent
{
    background-color: var(--nice-grey) !important;
}

.navbar-toggler
{
   color: var(--nice-grey) !important;
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 .1rem;
}

.box-image
{
    height: 75px;
}

hr.solid 
{
    border-top: 3px solid #bbb;
}

.blurButton
{
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 32px 8px rgba(0,0,0,0.87);
}


.blurButton:hover
{
    backdrop-filter: blur(20px);
}

.zoom 
{
    transition: transform .5s; /* Animation */
    
}
  
.zoom:hover 
{
    transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.columnTitle
{
    box-shadow: 1px 16px 17px 8px rgba(0,0,0,0.87);
}

